@import "tailwindcss";

@theme {
    --color-primary: #10b981;
    /* Emerald 500 */
    --color-primary-dark: #047857;
    /* Emerald 700 */
    --font-sans: "Inter", system-ui, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    /* gray-100 */
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        background-color: #111827;
        /* gray-900 */
    }
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}